.button-container {
    display: flex;
    justify-content: center;
}

.responsive-button {
    background-color: #ffffff;
    color: #333;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 15px 40px;
    border: none;
    border-radius: 50px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.responsive-button:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    background-color: #ff6b6b;
    color: white;
}


.trip-form-container-dissable {
    display: none;
}

.trip-form-container {

    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-title {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.trip-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

input[type="date"],
select {
    background-color: #fff;
}

input[type="number"] {
    max-width: 100px;
}

.submit-btn {
    padding: 12px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .trip-form-container {
        padding: 15px;
    }

    .form-title {
        font-size: 20px;
    }

    .input-field {
        padding: 8px;
    }

    .submit-btn {
        font-size: 14px;
        padding: 10px;
    }
}